_beta_/*
_ptr_/*
_classic_/*
Data/*
_retail_/Screenshots/*
_retail_/Utils/*
_retail_/Cache/*
_retail_/Logs/*
_retail_/.flavor.info
_retail_/BlizzardError.exe
_retail_/dbghelp.dll
_retail_/GFSDK_Aftermath_Lib.x64.dll
_retail_/Wow.exe
.agent.db
WoW.mfil
Wow.exe
Wow-64.exe
World of Warcraft Launcher.exe
Scan-64.dll
Launcher.db
.build.info
.product.db
.patch.result
.build.info
.product.db